[user]
	email = pekelny@gmail.com
	name = Ilya Pekelny
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[gc]
	auto=1
[merge]
	summary=true
	tool = vimdiff
[core]
	editor = vim
[alias]
	a = "!git add --all && git commit -a && git show --stat"
	ss = show --stat
	pm = push origin master
	pl = pull origin master
	rmr = push origin --delete
	po = push origin
